@media screen and (min-width: 60em) {
  .w-two-thirds-l {
    width: 100% !important;
  }
}

pre code {
  overflow: scroll !important;
}


a.twitter.link:focus {
  outline: none !important;
}

a.linkedin.link:focus {
  outline: none !important;
}


.new-window {
  opacity: 0 !important;
}
